---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.svelte";
import Sidebar from "../components/sidebar.svelte";
import Home from "../components/home.astro";
import "./resources/js/index.js";
import "./resources/css/style.css";
import HomeVideoCard from "../components/homeVideoCard.astro";
---

<Layout title="Youtube clone">
  <Navbar />
  <div class="container">
    <Sidebar />

    <Home />
  </div>
</Layout>

<style>
  html,
  body {
    height: fit-content;
    display: block;
  }
</style>
