---
import "./resources/homeVideoCard/css/style.css";
---

<layout>
  <div class="video_Card_Div">
    <div class="thumbnail_Div">
      <img
        src="src/components/resources/homeVideoCard/resources/images/thumbnail.png"
        alt=""
      />
    </div>
    <div class="video_Details">
      <span class="icon_Space">
        <img src="public/youtube.png" alt="" />
      </span>
      <span class="title_Space">
        <h5>The game of Thrones</h5>
        <h6 class="channel_name">PC gamers</h6>
        <p class="further_Details">
          <span>1.2M views</span>
          <span>∙ 1 year ago</span>
        </p>
      </span>
    </div>
  </div>
</layout>

<style>
  .video_Card_Div {
    margin-top: 62px;
  }
</style>
