---
import "./resources/Home/css/style.css";
import HomeVideoCard from "./homeVideoCard.astro";
import "./resources/Home/js/index.js";
---

<layout>
  <div class="home_Div">
    <HomeVideoCard />
    <HomeVideoCard />
    <HomeVideoCard />
    <HomeVideoCard />
    <HomeVideoCard />
    <HomeVideoCard />
    <HomeVideoCard />
    <HomeVideoCard />
    <HomeVideoCard />
    <HomeVideoCard />
    <HomeVideoCard />
    <HomeVideoCard />
  </div>
</layout>

<script client:idle></script>
